body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* side scroll band */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', system-ui, sans-serif;
}
/* header{
    display: flex;
    align-items: center;
} */
.back img{
    margin: 30px 30px 0px 30px;
    width: 20px;
    background-color: #4e4d4de2;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 100px;
}
.back:hover{
    cursor: pointer;
    transform: translateY(-2px);    
}

.title {
    margin: 0px 0px 30px 0px;
    color: #4e4d4d;
    text-align: center;
    font-size: 2.5rem;

}

/* .box {
    background-color:#dde4e29a;
    font-family: 'Inter', system-ui, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    margin: 80px auto;
    padding: 20px;
    background: #3dc0c0;
    text-align: center;
    border-radius: 6px;
    min-height: 100%;
    
} */

.box {
    width: 450px;
    margin: 20px auto;
    padding: 30px;
    background: #4e4d4de2;
    text-align: center;
    border-radius: 6px;
    box-sizing: border-box;
    
}

.input-box {
    background: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
    /* reset button ke liye */
    border-radius: 5px;
    box-shadow: 3px 6px 5px rgb(8 8 8);
}

.input-box input {
    flex: 1;
    /* pura space occupy kare */
    padding: 10px;
    border: none;
    outline: none;
}

.input-box img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    /* input ke andar right side me */
    top: 50%;
    transform: translateY(-50%);
}

button {
    width: 100%;
    height: 50px;
    background: #3dc0c0;;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 50px;
    margin: 20px 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 500;
    font-size: larger;
}
button:hover {
    background: #298282;;
    transform: translateY(-2px);
}


.preview {
    width: 100%;
    max-height: 300px;
    /* image box ke andar rahe */
    overflow: hidden;
}

.preview img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    /* image crop nahi hogi */
    display: none;
}

#downloadBtn {
    /* display: none; */
    margin-top: 5px;
    text-decoration: none;
    background: #3dc0c0;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
}
#downloadBtn:hover{
     background: #298282;
    transform: translateY(-2px);
    cursor: pointer;
}