* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Inter', system-ui, sans-serif;
}
/* body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.center{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.title{
    font-size: 2.5rem;
    margin-bottom: 3px;
    margin-top: -8px;
    color: #4e4d4d;
}
.back img {
    margin: 30px 30px 0px 30px;
    width:  35px;
    background-color: #4e4d4d;
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 100px;
}

.back:hover {
    cursor: pointer;
    transform: translateY(-2px);
  
}

.container {
    width: 400px;
    padding: 25px;
    background: #3dc0c0;
    border-radius: 10px;
    margin-top: 20px;
}




.container input {
    width: 100%;
    height: 50px;
    border: 1px solid #4e4d4d;
    outline: 0;
    padding: 10px;
    margin: 10px 0 0px;
    border-radius: 5px;
    font-size: larger;
}

input.redborder {
    border: 1px solid #f40000;
}

.container button {
    width: 100%;
    height: 40px;
    background: #4e4d4d;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 18px 0;
    font-weight: 500;
    font-size: larger;
}
button:hover{
    transform: translateY(-2px);
    background-color: #363535;
}
#imgBox {
    width: 150px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-hight 3s;
}

#imgBox img {
    width: 100%;
    padding: 5px;
}

#imgBox.show-img {
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #4e4d4d;
    
}

.error {
    animation: shake 0.1s linear 5;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}