* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, sans-serif;
}
.back img {
    margin: 30px 30px 0px 30px;
    width:  35px;
    background-color: #4e4d4d;
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 100px;
}

.back:hover {
    cursor: pointer;
    transform: translateY(-2px);
  
}
.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.hero h1 {
    font-size: 45px;
    font-weight: 60px;
    margin-top: -50px;
    margin-bottom: 50px;
    color: #4e4d4d;
}

.hero h1 span {
    color: #3dc0c0;
}

textarea {
    width: 600px;
    height: 250px;
    background-color: #4e4d4d68;
    color: #4e4d4d;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}

textarea::placeholder {
    font-size: 16px;
    color: #4e4d4d;
}

.row {
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* button {
    background: #741919;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
} */

button {
    background: #3dc0c0;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button img {
    width: 16px;
    margin-right: 10px;
}

select {
    flex: 1;
    color: #4e4d4d;
    background-color:#4e4d4d68;
    height: 35px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 50px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right 20px center;
}